.*
*.class
*.jar
*.war
*.iml
*.json
target
!.gitignore
!.sencha
!wms-web/webapp/ext/**/target
wms-web/webapp/.sencha
wms-web/webapp/build
wms-web/webapp/bootstrap.css
wms-web/webapp/bootstrap.js
wms-web/webapp/bootstrap.json
wms-web/webapp/sass/example/example.css
wms-web/webapp/sass/example/bootstrap.js
wms-web/webapp/sass/example/bootstrap.json